@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    color: rgb(24 24 27 / var(--tw-bg-opacity));
    background: rgb(228 228 231 / var(--tw-text-opacity));
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
